
body{
    width: 1890px;
    margin-left: .5em;
}

p{
    font-size: 36px;
   
   font-family: 'PT', sans-serif;
   font-style:normal;
   font-weight: 400;
   font-size: 1.5em;
   color: grey;
}

h2, h3{
    font-family: 'Heineken', sans-serif;
    font-size: 2em;
    font-weight: 100;
    margin-top: 0em;
}

.text_down{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.25em;
    margin-top: 7em;
    font-weight: 400;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
}

.img_size{
    width: 2%;
    height: 2%;
    margin-left:2em;
}


.footer-box{
    background-color: #006F2D;
    width:1890px;
    margin-top:2em;
}

.footer-box div p {
    color:white;
    margin-top:1em;
}
.footer-box div a {
    color:white;
    font-size: 36px;
    text-decoration: none;
   font-family: 'PT', sans-serif;
   font-style:normal;
   font-weight: 400;
   font-size: 1.5em;
    margin-top: 1em;
}

.hidden{
    display:none;
}
.products{
    display: inline-block;
    margin: 2em 0em 2em 0em;
}
.products a {
    margin-left: .5em;
}
.products h2 {
    margin-bottom: 1em;
}
.taglines{
    font-size: 50px;
    margin-top:.5em;
    color: #006F2D;
}
.interactive{
    margin-top: 3em;
    margin-bottom: 3em;
}
.interactive p {
    margin-top: .5em;
    margin-left: .5em;
}

.head_nav{
    font-size: xx-large;
    margin: 0em;
}


/*flex box for products*/

.outer {
    padding: 1em 1em 3em 1em;
    margin: 3em;
    border: #DDCA40 solid 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: "color-change";
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes color-change{
    0% {
        border: #DDCA40 solid 8px;  
    }
    50% {
        border: #006F2D solid 8px;  
    }
    0% {
        border: #5DAE46 solid 8px;  
    }
}

.header-box {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    background-color: #5DAE46;
    width:1890px;
    height: 124px;
    position: fixed;
}

/*flex properties end */
.head_nav a{
    margin:2em;
    font-family: 'Heineken', sans-serif;
    font-size: 1.10em;
    color: white;
    text-decoration: wavy;
}



.grid-footer {
display: grid;
grid-template-columns: 1fr 1fr  1fr ;
margin: 1em;
}

.four-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em;
}

.two-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}


/* CSS animations*/

